/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.navBar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 2px 2px #00000033;
  padding-right: 10px;
}

.cartLogin {
  display: flex;
  gap: 20px;
  align-items: center;
}

.itemCardBadge {
  margin: 8px;
}

.itemCardImage {
  height: 150px !important;
  object-fit: scale-down;
}

.clickedImage {
  height: 300px !important;
  object-fit: contain;
  object-position: center;
}

.addItem {
  padding: 50px;
  margin: 0 auto;
}
